# Gathering data

In [1]:
#import pandas to read data 
import pandas as pd 
import os
#import requests to get data from link
import requests
#import json to read and use data in json file
import json
#import matplotlib to create graph
from matplotlib import pyplot as plt 
#read_archive-enganced.csv_file_by_pandas
read_arch = pd.read_csv("/run/media/eslam/36AE1665AE161DC5/my_githup/wrangle-and-analyze-from-WeRateDogs/twitter-archive-enhanced.csv")

In [2]:

#i_install_image_prediction_progrmmatly_by_reqests_model
# this link contain data
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
#to get data from link use get function in requests libaray
data_images= requests.get(url)

In [3]:
#i will seprate the name of file form link and save it in new variable
file_name =url.split("/")[-1]
file_name

'image-predictions.tsv'

In [4]:
#this_step_to_creat_new_folder and save data if file don't founed but the file it founded he save in data 
if not  os.path.isfile(file_name):   
    #to open the folder 
    with open (file_name,"wb") as file:
        file.write(data_images.content)
#to read data in file tsv 
read_images = pd.read_csv(file_name, sep="\t")
#apper the first 10 ram in data
read_images.head(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True

In [5]:
#df_tweets this list to store the new data  
df_tweets =[]
#to open the file and close it but this file can edit in beacause the mode is read only
with open("tweet-json.txt",mode="r") as folder:
# here i want read the file line by line so that i use loop
    for line in folder:
    #to read string in dictionary line by line in josn
        tweet = json.loads(line)
        tweet_id = tweet["id"]
        retweet_count= tweet["retweet_count"]
        fav_count = tweet["favorite_count"]
        df_tweets.append({"tweet_id":tweet_id,
                          "retweet_count":retweet_count,
                          "favorite_count":fav_count})
#read the file json data
read_tweets = pd.DataFrame(df_tweets,columns=["tweet_id","retweet_count","favorite_count"])
read_tweets

FileNotFoundError: [Errno 2] No such file or directory: 'tweet-json.txt'

# Assesing data

In [ ]:
#do show all columns
pd.set_option("display.max_columns", None)

In [ ]:
read_arch

In [ ]:
#i want some informition in read_arch data like type columns and what contint in columuns 
read_arch.info()

In [ ]:
#to know every character in columns and how many apper in coulmns
read_arch["name"].value_counts()

In [ ]:
#to know all character in columns
read_arch.name.unique()

In [ ]:
read_arch["retweeted_status_id"].value_counts()

In [ ]:
read_arch["doggo"].value_counts()

In [ ]:
read_arch["floofer"].value_counts()

In [ ]:
read_arch["pupper"].value_counts()

In [ ]:
read_arch["puppo"].value_counts()

In [ ]:
read_arch["rating_numerator"].value_counts()

In [ ]:
read_arch["rating_denominator"].value_counts()

In [ ]:
#to apper 15 ram but randomly
read_images.sample(15)

In [ ]:
read_images.info()

In [ ]:
read_tweets

In [ ]:
read_tweets.info()

In [ ]:
#to know common order in static like mean and standar disation and minmam maximam
read_tweets["retweet_count"].describe()

In [ ]:
#to apper the raw which contain miss or have None in data in column's retweet_count
None_in_retweet_count=[read_tweets["retweet_count"].isnull()]==True

In [ ]:
None_in_retweet_count

In [ ]:
read_tweets["favorite_count"].value_counts()

# Qulaity issues

1- Data in in_reply_to_status_id and in_reply_to_user_id aren't founed

2- retweeted_status_timestamp is object but it should datetime 

3- most rating_numerator column's is over rating

4- fufo , doggo , floofer , purrer this data in this columns not complet

5- the image data is 2075 some data missing

6- conver timestamp from object to data time

7- Data in retweeted_status_id and retweeted_status_user_id and retweeted_status_timestamp aren't founed

8- we can remove colums in_reply_to_status_id and in_reply_to_user_id because we don't import it

9- i find the wrong name in name columns

10- use in seprate in read_images is "_" in p1 ,p2 and p3 columns

# Tidiness issues

1-in general should tweet_data and data_arch table be one table.

2-the coulmns doggo, floofer, pupper, puppor should be on variable in one coulmns.

# cleaning

In [ ]:
read_arch_new = read_arch.copy()
read_images_new = read_images.copy()
read_tweets_new = read_tweets.copy()

# define

replace the "_" in p1, p2 and p3

# code

In [ ]:
# replace under scol "_" to space " "
read_images_new["p1"] = read_images_new.p1.str.replace("_"," ")
read_images_new["p2"] = read_images_new.p2.str.replace("_"," ")
read_images_new["p3"] = read_images_new.p3.str.replace("_"," ")

In [ ]:
read_images_new.head(10)

# define

## code

In [ ]:
read_arch_new

## define

replace  all mistake name to None

## code

In [ ]:
#first we should display the mistake name 
read_arch_new[(read_arch_new["name"].str.islower()==True)]["name"].unique()

In [ ]:
# i make all mistake name in list
mistake_name=['such', 'a', 'quite', 'not', 'one', 'incredibly', 'mad', 'an',
       'very', 'just', 'my', 'his', 'actually', 'getting', 'this',
       'unacceptable', 'all', 'old', 'infuriating', 'the', 'by',
       'officially', 'life', 'light', 'space']

In [ ]:
#we will replace the mistake name to None 

#this loop to read name by name in list
for name in mistake_name:
    read_arch_new["name"].replace(name,"None",inplace=True)

In [ ]:
read_arch_new["name"].value_counts()

# define 
remove in_reply_to_status_id and in_reply_to_user_id columns in table

# code

In [ ]:
#remove this columns from read_arch
read_arch_new.drop(["in_reply_to_status_id","in_reply_to_user_id"],axis=1, inplace =True)

In [ ]:
read_arch_new

# define
remove  retweeted_status_id and retweeted_status_user_id and retweeted_status_timestamp

In [ ]:
read_arch_new.drop(["retweeted_status_id","retweeted_status_user_id","retweeted_status_timestamp"],axis=1, inplace =True)

In [ ]:
read_arch_new

# define
convert the coulmns timestamp from type object to datatime object.

In [ ]:
#convern the object to date time 
read_arch_new["timestamp"] = pd.to_datetime(read_arch_new["timestamp"])

In [ ]:
read_arch_new.info()

# define
make the one variable in new coulmns of type dog

In [ ]:
# i storge the new data about dog in list 
type_dog = []
dog_title = ["pupper","puppo","doggo","floofer"]
y = ["pupper","puppo","doggo","floofer"]
# for loop to read all line in file line by line 
for row in read_arch_new["text"]:
    #make the all word is lower 
    row = row.lower()
    for word in dog_title:
        if word in str(row):
            type_dog.append(y[dog_title.index(word)])
            break
    else:
        type_dog.append("None")
read_arch_new["dog_type"] =type_dog

In [ ]:
read_arch_new["dog_type"].value_counts()

In [ ]:
# show all column's name only 
read_arch_new.columns

# define
remove dogoo floofer pupper puppo coulmns

In [ ]:
read_arch_new.drop(["pupper", "puppo", "doggo", "floofer"],axis=1, inplace =True)

In [ ]:
read_arch_new.columns

# define
make the three table is one table

In [ ]:
df = read_arch_new.merge(read_tweets_new)

In [ ]:
all_data = df.merge(read_images_new)

In [ ]:
all_data.sample(20)

# define
removing the tweets without images

In [ ]:
all_data = all_data[pd.notnull(all_data["jpg_url"])]

In [ ]:
all_data.info()

In [ ]:
all_data

# Storing data

In [ ]:
all_data.to_csv("twitter_archive_master_new.csv",encoding="Utf-8",index=False)

In [ ]:
all_data_new=pd.read_csv("twitter_archive_master_new.csv")

In [ ]:
all_data_new.head()

In [ ]:
all_data_new.info()

# Analysis

we will look rating dog in pie

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use("dark_background")
data = all_data_new["rating_numerator"].value_counts()
x = data.index
y = data.values
fig, ax = plt.subplots(figsize=(12,6))
g =sns.barplot(x,y, palette="Blues",ax=ax)
ax.set(xlabel="Ratings",ylabel="frequency", title= "Rating Frequency")
plt.show()

this graph show us most rating for dog is 12 and some pepole don't like its dog because he give its little rating

In [ ]:
all_data_new.plot(kind="scatter", x="favorite_count",y= "retweet_count",alpha= 0.5, figsize=(7,7) , color="blue")
plt.xlabel("favorites")
plt.ylabel("retweets")
plt.title("favorites and retweets")

more retweet mean more favourite

In [ ]:

x = all_data_new["dog_type"]
y = all_data_new["retweet_count"]
fig, ax = plt.subplots(figsize=(12,6))
g =sns.barplot(x,y, palette="Blues",ax=ax)
ax.set(xlabel="Dog type",ylabel="Retweet", title= "Number of Rtweet each dog type ")
plt.show()

most pepole have the ability to retweet when they see doggo and puppo

In [ ]:
/run/media/eslam/36AE1665AE161DC5/my_githup/wrangle-and-analyze-from-WeRateDogs/x = all_data_new["dog_type"]
y = all_data_new["favorite_count"]
fig, ax = plt.subplots(figsize=(12,6))
g =sns.barplot(x,y, palette="Blues",ax=ax)
ax.set(xlabel="Dog type",ylabel="Favorite", title= "Number of favorite each dog type ")
plt.show()

most people interact with favourite when see doggo and puppo